@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
  --font-family-sans: 'Poppins', sans-serif;
  --color-primary-bg: #f5f5f5;
  --color-primary: #756ef3;
  --color-primary-hover: #5e5be6;
  --color-primary-text: #002055;
  --color-secondary-text: #868d95;
  --color-placeholder: #9ca3af;

  --toggle-track-bg: #e5e7eb;
  --toggle-thumb-bg: #ffffff;
  --toggle-sun-color: #eab308;
  --toggle-moon-color: #fde047;

  --google-btn-bg: #f5f6fa;
  --google-btn-text: #1f2937;
  --google-btn-border: #d1d5db;
  --google-btn-hover-bg: #f3f4f6;
}

.dark {
  --color-primary: #7e7ae9;
  --color-primary-bg: #2c2c34;
  --color-primary-text: #d8e2f2;
  --color-secondary-text: #b8bcc1;
  --color-placeholder: #6b7280;
  --color-primary-hover: #5e5be6;

  --toggle-track-bg: #374151;
  --toggle-thumb-bg: #1f2937;
  --toggle-sun-color: #fde047;
  --toggle-moon-color: #fde047;

  --google-btn-bg: #374151;
  --google-btn-text: #f9fafb;
  --google-btn-border: #767575;
  --google-btn-hover-bg: #374151;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--color-primary-bg);
  transition:
    background-color 0.3s,
    color 0.3s;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-placeholder);
  opacity: 1;
}
